<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>student_reg.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_regi</servlet-name>
        <servlet-class>student_regi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>faculty_reg</servlet-name>
        <servlet-class>faculty_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_verified</servlet-name>
        <servlet-class>login_verified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_category</servlet-name>
        <servlet-class>add_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_category</servlet-name>
        <servlet-class>edit_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_category</servlet-name>
        <servlet-class>delete_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_notice</servlet-name>
        <servlet-class>add_notice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>researchscholar_reg</servlet-name>
        <servlet-class>researchscholar_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publish_doc</servlet-name>
        <servlet-class>publish_document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUploadedFile</servlet-name>
        <servlet-class>GetUploadedFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_publish_document</servlet-name>
        <servlet-class>student_publish_document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>faculty_publish_document</servlet-name>
        <servlet-class>faculty_publish_document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reasarchscholar_publish_document</servlet-name>
        <servlet-class>reasarchscholar_publish_document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>researchscholar_publish_document</servlet-name>
        <servlet-class>researchscholar_publish_document</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_regi</servlet-name>
        <url-pattern>/student_regi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>faculty_reg</servlet-name>
        <url-pattern>/faculty_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_verified</servlet-name>
        <url-pattern>/login_verified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_category</servlet-name>
        <url-pattern>/add_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_category</servlet-name>
        <url-pattern>/edit_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_category</servlet-name>
        <url-pattern>/delete_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_notice</servlet-name>
        <url-pattern>/add_notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>researchscholar_reg</servlet-name>
        <url-pattern>/researchscholar_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publish_doc</servlet-name>
        <url-pattern>/publish_doc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUploadedFile</servlet-name>
        <url-pattern>/GetUploadedFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_publish_document</servlet-name>
        <url-pattern>/student_publish_document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>faculty_publish_document</servlet-name>
        <url-pattern>/faculty_publish_document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reasarchscholar_publish_document</servlet-name>
        <url-pattern>/reasarchscholar_publish_document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>researchscholar_publish_document</servlet-name>
        <url-pattern>/researchscholar_publish_document</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
